{% extends 'mainapp/nav_avito_template.html' %}
{% load static %}

{% block title %}Настройки аккаунта Avito{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Список аккаунтов</h1>
            <ul class="list-group account-list" id="accountList">
                {% for account in accounts %}
                    <li class="list-group-item account-item" data-toggle="modal" data-target="#editAccountModal" data-id="{{ account.id }}">{{ account.name }}</li>
                {% endfor %}
            </ul>
            <button class="btn btn-success add-account-btn mt-2" data-toggle="modal" data-target="#addAccountModal">Добавить аккаунт</button>
        </div>
    </div>
</div>

<!-- Modal for adding account -->
<div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAccountModalLabel">Новый аккаунт</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-none" id="addAccountError"></div>
                <form id="addAccountForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="newAccountName">Имя аккаунта</label>
                        <input type="text" class="form-control" id="newAccountName" name="name" placeholder="Введите имя аккаунта" required>
                    </div>
                    <div class="form-group">
                        <label for="newClientId">Client_id</label>
                        <input type="text" class="form-control" id="newClientId" name="client_id" placeholder="Введите Client_id" required>
                    </div>
                    <div class="form-group">
                        <label for="newClientSecret">Client_secret</label>
                        <input type="text" class="form-control" id="newClientSecret" name="client_secret" placeholder="Введите Client_secret" required>
                    </div>
                    <div class="form-group">
                        <label for="newAssistantKey">Assistant_key</label>
                        <input type="text" class="form-control" id="newAssistantKey" name="assistant_key" placeholder="Введите Assistant_key" required>
                    </div>
                    <div class="form-group">
                        <label for="newWaitTime">Время сбора сообщений (сек.)</label>
                        <input type="number" class="form-control" id="newWaitTime" name="wait_time" placeholder="Введите время сбора сообщений" required>
                    </div>
                    <div class="form-group">
                        <label for="newTgManager">Телеграм менеджера</label>
                        <input type="text" class="form-control" id="newTgManager" name="tg_manager" placeholder="Введите id Телеграма менеджера" required>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="addTriggersCheckbox" name="add_triggers_checkbox">
                            <label class="form-check-label" for="addTriggersCheckbox">Добавить триггеры</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="addTriggersGroup">
                        <label for="newTriggers">Триггеры</label>
                        <input type="text" class="form-control" id="newTriggers" name="triggers" placeholder="Введите Триггеры (Каждый триггер через /)">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="addTriggersAICheckbox" name="add_triggers_ai_checkbox">
                            <label class="form-check-label" for="addTriggersAICheckbox">Добавить триггеры ИИ</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="addTriggersAIGroup">
                        <label for="newTriggersAI">Триггер ИИ</label>
                        <input type="text" class="form-control" id="newTriggersAI" name="triggers_ai" placeholder="Введите Триггер ИИ">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="newCheckPhone" name="check_phone">
                            <label class="form-check-label" for="newCheckPhone">Триггер номера телефона</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="shouldShowTimeToTrigger" name="should_show_time_to_trigger">
                            <label class="form-check-label" for="shouldShowTimeToTrigger">Указать время до срабатывания триггера бота</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="timeToTriggerGroup">
                        <label for="newTimeToTrigger">Время до выключения бота после триггера (сек.)</label>
                        <input type="number" class="form-control" id="newTimeToTrigger" name="time_to_trigger" placeholder="Введите время до отправки">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="shouldShowShutdownTime" name="should_show_shutdown_time">
                            <label class="form-check-label" for="shouldShowShutdownTime">Указать время до выключения ИИ</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="timeToShutdownGroup">
                        <label for="newTimeToShutdown">Время до выключения ИИ после ответа (мин.)</label>
                        <input type="text" class="form-control" id="newTimeToShutdown" name="time_to_shutdown" placeholder="Введите время">
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="newShouldPingManagerAfterShutdown" name="should_ping_manager_after_shutdown">
                                <label class="form-check-label" for="newShouldPingManagerAfterShutdown">Уведомить менеджера после отключения</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="addBotReminderCheckbox" name="add_bot_reminder_checkbox">
                            <label class="form-check-label" for="addBotReminderCheckbox">Добавить напоминание бота</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="addBotReminderGroup">
                        <label for="newBotText">Текст напоминания бота</label>
                        <input type="text" class="form-control" id="newBotText" name="bot_text" placeholder="Введите текст напоминания бота">
                        <label for="newBotInterval">Время до уведомления от бота (в минутах)</label>
                        <input type="number" class="form-control" id="newBotInterval" name="bot_interval" placeholder="Введите время до уведомления от бота">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" id="addAccountBtn">Создать аккаунт</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for editing account -->
<div class="modal fade" id="editAccountModal" tabindex="-1" aria-labelledby="editAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAccountModalLabel">Редактировать аккаунт</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-none" id="editAccountError"></div>
                <form id="editAccountForm">
                    {% csrf_token %}
                    <input type="hidden" id="editAccountId" name="id">
                    <input type="hidden" id="editUserId" name="user_id"> <!-- Скрытое поле для user_id -->
                    <div class="form-group">
                        <label for="editAccountName">Имя аккаунта</label>
                        <input type="text" class="form-control" id="editAccountName" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="editClientId">Client_id</label>
                        <input type="text" class="form-control" id="editClientId" name="client_id" required>
                    </div>
                    <div class="form-group">
                        <label for="editClientSecret">Client_secret</label>
                        <input type="text" class="form-control" id="editClientSecret" name="client_secret" required>
                    </div>
                    <div class="form-group">
                        <label for="editAssistantKey">Assistant_key</label>
                        <input type="text" class="form-control" id="editAssistantKey" name="assistant_key" required>
                    </div>
                    <div class="form-group">
                        <label for="editWaitTime">Время сбора сообщений (сек.)</label>
                        <input type="number" class="form-control" id="editWaitTime" name="wait_time" required>
                    </div>
                    <div class="form-group">
                        <label for="editTgManager">Телеграм менеджера</label>
                        <input type="text" class="form-control" id="editTgManager" name="tg_manager" required>
                    </div>
                    <div class="form-group">
                        <label for="editTriggers">Триггеры</label>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="editTriggersCheckbox" name="edit_triggers_checkbox">
                            <label class="form-check-label" for="editTriggersCheckbox">Добавить триггеры</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="editTriggersGroup">
                        <input type="text" class="form-control" id="editTriggers" name="triggers" placeholder="Введите Триггеры (Каждый триггер через /)">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="editTriggersAICheckbox" name="edit_triggers_ai_checkbox">
                            <label class="form-check-label" for="editTriggersAICheckbox">Добавить триггеры ИИ</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="editTriggersAIGroup">
                        <label for="editTriggersAI">Триггер ИИ</label>
                        <input type="text" class="form-control" id="editTriggersAI" name="triggers_ai" placeholder="Введите Триггер ИИ">
                    </div>
                    <div class="form-check d-none">
                        <input type="checkbox" class="form-check-input" id="editCheckPhone" name="check_phone">
                        <label class="form-check-label" for="editCheckPhone">Триггер номера телефона</label>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="editShouldShowTimeToTrigger" name="should_show_time_to_trigger">
                            <label class="form-check-label" for="editShouldShowTimeToTrigger">Указать время до срабатывания триггера бота</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="editTimeToTriggerGroup">
                        <label for="editTimeToTrigger">Время до выключения бота после триггера (сек.)</label>
                        <input type="number" class="form-control" id="editTimeToTrigger" name="time_to_trigger" placeholder="Введите время до отправки">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="editShouldShowShutdownTime" name="should_show_shutdown_time">
                            <label class="form-check-label" for="editShouldShowShutdownTime">Указать время до выключения ИИ</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="editTimeToShutdownGroup">
                        <label for="editTimeToShutdown">Время до выключения ИИ после ответа (мин.)</label>
                        <input type="text" class="form-control" id="editTimeToShutdown" name="time_to_shutdown" placeholder="Введите время">
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="editShouldPingManagerAfterShutdown" name="should_ping_manager_after_shutdown">
                                <label class="form-check-label" for="editShouldPingManagerAfterShutdown">Уведомить менеджера после отключения</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="editBotReminderCheckbox" name="edit_bot_reminder_checkbox">
                            <label class="form-check-label" for="editBotReminderCheckbox">Добавить напоминание бота</label>
                        </div>
                    </div>
                    <div class="form-group d-none" id="editBotReminderGroup">
                        <label for="editBotText">Текст напоминания бота</label>
                        <input type="text" class="form-control" id="editBotText" name="bot_text" placeholder="Введите текст напоминания бота">
                        <label for="editBotInterval">Время до уведомления от бота (в минутах)</label>
                        <input type="number" class="form-control" id="editBotInterval" name="bot_interval" placeholder="Введите время до уведомления от бота">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="saveChangesBtn">Сохранить изменения</button>
                <button type="button" class="btn btn-danger" id="deleteAccountBtn">Удалить аккаунт</button>
            </div>
        </div>
    </div>
</div>

<style>
.account-item:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Функция для получения CSRF токена
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // Валидация формы
    function validateForm(form, errorDiv) {
        let isValid = true;
        let errorMessages = [];

        errorDiv.classList.add('d-none');
        errorDiv.innerHTML = '';

        const requiredFields = form.querySelectorAll('[required]');
        requiredFields.forEach(field => {
            if (!field.value.trim()) {
                isValid = false;
                errorMessages.push(`Поле "${field.previousElementSibling.innerText}" обязательно для заполнения.`);
            }
        });

        if (!isValid) {
            errorDiv.classList.remove('d-none');
            errorDiv.innerHTML = errorMessages.join('<br>');
        }

        return isValid;
    }

    function toggleField(checkbox, fieldGroup) {
        checkbox.addEventListener('change', function() {
            if (this.checked) {
                fieldGroup.classList.remove('d-none');
                fieldGroup.querySelectorAll('input').forEach(input => input.required = true);
            } else {
                fieldGroup.classList.add('d-none');
                fieldGroup.querySelectorAll('input').forEach(input => {
                    input.required = false;
                    input.value = '';
                });
                fieldGroup.querySelectorAll('.form-check-input').forEach(input => input.checked = false);
            }
        });
    }

    // Инициализация переключателей
    toggleField(document.getElementById('shouldShowTimeToTrigger'), document.getElementById('timeToTriggerGroup'));
    toggleField(document.getElementById('shouldShowShutdownTime'), document.getElementById('timeToShutdownGroup'));
    toggleField(document.getElementById('editShouldShowTimeToTrigger'), document.getElementById('editTimeToTriggerGroup'));
    toggleField(document.getElementById('editShouldShowShutdownTime'), document.getElementById('editTimeToShutdownGroup'));
    toggleField(document.getElementById('addTriggersCheckbox'), document.getElementById('addTriggersGroup'));
    toggleField(document.getElementById('editTriggersCheckbox'), document.getElementById('editTriggersGroup'));
    toggleField(document.getElementById('addTriggersAICheckbox'), document.getElementById('addTriggersAIGroup'));
    toggleField(document.getElementById('editTriggersAICheckbox'), document.getElementById('editTriggersAIGroup'));
    toggleField(document.getElementById('addBotReminderCheckbox'), document.getElementById('addBotReminderGroup'));
    toggleField(document.getElementById('editBotReminderCheckbox'), document.getElementById('editBotReminderGroup'));
    // Обработчик создания аккаунта
    document.getElementById('addAccountBtn').addEventListener('click', function() {
        const form = document.getElementById('addAccountForm');
        const errorDiv = document.getElementById('addAccountError');

        if (validateForm(form, errorDiv)) {
            const formData = new FormData(form);

            fetch("{% url 'add_account' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                } else {
                    console.error(data.error || data.errors);
                    errorDiv.classList.remove('d-none');
                    errorDiv.innerHTML = (data.error || Object.values(data.errors).join('<br>')).replace(/\\n/g, '<br>');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                errorDiv.classList.remove('d-none');
                errorDiv.innerHTML = 'Ошибка при добавлении аккаунта. Пожалуйста, сообщите разработчику.';
            });
        }
    });

    // Обработчик редактирования аккаунта
    document.querySelectorAll('.list-group-item').forEach(item => {
        item.addEventListener('click', function() {
            const accountId = this.getAttribute('data-id');
            fetch(`/accounts/edit/${accountId}/`)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    document.getElementById('editAccountId').value = data.id;
                    document.getElementById('editAccountName').value = data.name;
                    document.getElementById('editClientId').value = data.client_id;
                    document.getElementById('editClientSecret').value = data.client_secret;
                    document.getElementById('editAssistantKey').value = data.assistant_key;
                    document.getElementById('editCheckPhone').checked = data.check_phone;
                    document.getElementById('editTgManager').value = data.tg_manager;
                    document.getElementById('editWaitTime').value = data.wait_time;
                    document.getElementById('editUserId').value = data.user_id;  // Заполняем скрытое поле user_id

                    const editShouldShowTimeToTriggerCheckbox = document.getElementById('editShouldShowTimeToTrigger');
                    const editTimeToTriggerGroup = document.getElementById('editTimeToTriggerGroup');
                    const editTimeToTrigger = document.getElementById('editTimeToTrigger');

                    if (data.time_to_trigger) {
                        editShouldShowTimeToTriggerCheckbox.checked = true;
                        editTimeToTriggerGroup.classList.remove('d-none');
                        editTimeToTrigger.required = true;
                        editTimeToTrigger.value = data.time_to_trigger;
                    } else {
                        editShouldShowTimeToTriggerCheckbox.checked = false;
                        editTimeToTriggerGroup.classList.add('d-none');
                        editTimeToTrigger.required = false;
                        editTimeToTrigger.value = '';
                    }

                    const editShouldShowShutdownTimeCheckbox = document.getElementById('editShouldShowShutdownTime');
                    const editTimeToShutdownGroup = document.getElementById('editTimeToShutdownGroup');
                    const editShouldPingManagerAfterShutdown = document.getElementById('editShouldPingManagerAfterShutdown');

                    if (data.time_to_shutdown) {
                        editShouldShowShutdownTimeCheckbox.checked = true;
                        editTimeToShutdownGroup.classList.remove('d-none');
                        editTimeToShutdownGroup.querySelector('input').required = true;
                        editTimeToShutdownGroup.querySelector('input').value = data.time_to_shutdown;
                        editShouldPingManagerAfterShutdown.checked = data.should_ping_manager_after_shutdown;
                    } else {
                        editShouldShowShutdownTimeCheckbox.checked = false;
                        editTimeToShutdownGroup.classList.add('d-none');
                        editTimeToShutdownGroup.querySelector('input').required = false;
                        editTimeToShutdownGroup.querySelector('input').value = '';
                        editShouldPingManagerAfterShutdown.checked = false;
                    }

                    const editTriggersCheckbox = document.getElementById('editTriggersCheckbox');
                    const editTriggersGroup = document.getElementById('editTriggersGroup');

                    if (data.triggers) {
                        editTriggersCheckbox.checked = true;
                        editTriggersGroup.classList.remove('d-none');
                        editTriggersGroup.querySelector('input').required = true;
                        editTriggersGroup.querySelector('input').value = data.triggers;
                    } else {
                        editTriggersCheckbox.checked = false;
                        editTriggersGroup.classList.add('d-none');
                        editTriggersGroup.querySelector('input').required = false;
                        editTriggersGroup.querySelector('input').value = '';
                    }

                    const editTriggersAICheckbox = document.getElementById('editTriggersAICheckbox');
                    const editTriggersAIGroup = document.getElementById('editTriggersAIGroup');

                    if (data.triggers_ai) {
                        editTriggersAICheckbox.checked = true;
                        editTriggersAIGroup.classList.remove('d-none');
                        editTriggersAIGroup.querySelector('input').required = true;
                        editTriggersAIGroup.querySelector('input').value = data.triggers_ai;
                    } else {
                        editTriggersAICheckbox.checked = false;
                        editTriggersAIGroup.classList.add('d-none');
                        editTriggersAIGroup.querySelector('input').required = false;
                        editTriggersAIGroup.querySelector('input').value = '';
                    }

                    const editBotReminderCheckbox = document.getElementById('editBotReminderCheckbox');
                    const editBotReminderGroup = document.getElementById('editBotReminderGroup');

                    if (data.bot_text || data.bot_interval) {
                        editBotReminderCheckbox.checked = true;
                        editBotReminderGroup.classList.remove('d-none');
                        editBotReminderGroup.querySelector('#editBotText').required = true;
                        editBotReminderGroup.querySelector('#editBotText').value = data.bot_text;
                        editBotReminderGroup.querySelector('#editBotInterval').required = true;
                        editBotReminderGroup.querySelector('#editBotInterval').value = data.bot_interval;
                    } else {
                        editBotReminderCheckbox.checked = false;
                        editBotReminderGroup.classList.add('d-none');
                        editBotReminderGroup.querySelector('#editBotText').required = false;
                        editBotReminderGroup.querySelector('#editBotText').value = '';
                        editBotReminderGroup.querySelector('#editBotInterval').required = false;
                        editBotReminderGroup.querySelector('#editBotInterval').value = '';
                    }

                })
                .catch(error => console.error('Error:', error));
        });
    });

    document.getElementById('saveChangesBtn').addEventListener('click', function() {
        const form = document.getElementById('editAccountForm');
        const errorDiv = document.getElementById('editAccountError');

        if (validateForm(form, errorDiv)) {
            const formData = new FormData(form);

            fetch(`/accounts/edit/${formData.get('id')}/`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                } else {
                    console.error(data.error || data.errors);
                    errorDiv.classList.remove('d-none');
                    errorDiv.innerHTML = (data.error || Object.values(data.errors).join('<br>')).replace(/\\n/g, '<br>');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                errorDiv.classList.remove('d-none');
                errorDiv.innerHTML = 'Ошибка при сохранении изменений. Пожалуйста, сообщите разработчику.';
            });
        }
    });

    document.getElementById('deleteAccountBtn').addEventListener('click', function() {
        const accountId = document.getElementById('editAccountId').value;
        fetch(`/accounts/delete/${accountId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': csrftoken
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                console.error(data.errors);
                alert('Ошибка при удалении аккаунта');
            }
        })
        .catch(error => console.error('Error:', error));
    });
});

</script>
{% endblock %}
